#footer {
    background-color: #fff;
}

.languages ul {
    border-bottom: .5px solid #edf0f5;
    padding-left: 0;
}

.languages ul li {
    display: inline;
    font-size: 0.750em;
    margin-bottom: 0.375em;
    text-decoration: none;
}

.categories ul {
    padding-top: 0;
}

.category-div {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 5px;
}

.category-div p {
    font-size: 0.750em;
    line-height: 15px;
}

.category-div a {
    text-decoration: none !important;
}

.copywrite {
    font-size: 0.750em;
}