#footer {
    background-color: #fff;
}

.languages ul {
    border-bottom: .5px solid #edf0f5;
    padding-left: 0;
}

.languages ul li {
    display: inline;
    font-size: 0.750em;
    margin-bottom: 0.375em;
    text-decoration: none;
}

td {
    font-size: 0.750em;
}

.table-borderless tr,
.table-borderless td {
    border: 0;
}

.copywrite {
    font-size: 0.750em;
}