#main {
    background-color: #edf0f5;
}

.intro h2 {
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px;
}

.intro p {
    font-size: 0.750em;
}

.intro i {
    color: #adbad4;
    font-size: 2.225em;
    padding-right: 8px;
}

.intro span {
    color: #333;
    font-size: 1.063em !important;
    font-weight: bold;
    line-height: 1.294em;
}

input {
    margin: 0.350em;
}